.container-admin{
  background-image: linear-gradient(to right top, #051937, #001c4e, #001e65, #001d7a, #05178e);
  width: 100%;
  height: 100vh;
}

.placar {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px 0;

}

.placar article {
  margin: 0 10px;
  font-size: 1.5em;
  color:white
}

.placar article span {
  margin: 0 10px;
}

.change-score{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px 0;
  flex-wrap: wrap;
  padding:5px 20px;
}

.change-score fieldset {
  width: 100%;
  border: none;
  margin-bottom: 5px;

}

.change-score h2 {
  width: 100%;
  color:white
}

.change-score label {
  color:white
}

.change-score input {
  height: 45px;
  font-size: 1.5em;
  width: 100%;
}

.change-score button {
  width: 100%;
  height: 45px;
  margin-top: 15px;
}

.sound-fx {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sound-fx h2 {
  width: 100%;
}

.sound-fx button {
  width: 15%;
  height: 45px;
  margin: 10px;
}

.timer {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  justify-content: center;
}

.timer h2 {
  font-size: 1em;
  color:white
}

.timer div {
  margin: 20px;
  color: white
}

.timer button {
  height: 35px;
  font-size: 0.7em;
  padding: 0 15px;
  background-color: transparent;
  color:white;
  border: 2px solid white;
  margin: 0 4px;
  border-radius: 5px;
}

.timer button:last-child{
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.resetTimerModal {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  position:absolute;
  justify-content: center;
  align-items: center;
}

.resetTimerModal h2{
  text-align: center;
  width: 100%;
}

.resetTimerModal section {
  width:100%;
  text-align: right;
}

.resetTimerModal section button{
  margin: 15px 5px;
  padding:15px 25px;
  border: none;
  background-color: #23CF5C;
  color: white;
  box-shadow: 1px 1px 3px black;
  font-weight: bold;
}

.resetTimerModal section button:last-child{
  background-color: #D12C38;
  color: white;
  margin-right: 40px;


}